/*============================== colors ==============================*/

//background
$bg-body: hsl(233, 47%, 7%);
$bg-card: hsl(244, 38%, 16%);
//neutral
$violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
//text
$clr-description: hsla(0, 0%, 100%, 0.75);
$clr-statistics: hsla(0, 0%, 100%, 0.6);

/*============================== fonts ==============================*/

//family
$inter: "Inter", sans-serif;
$lexend: "Lexend Deca", sans-serif;
//weight
$bold: 700;
$regular: 400;